.navbar{
  background-color: rgba(97, 96, 96, 0.185);
}

.navbar .navbar-brand {
  margin-left: 4rem;
}
.navbar .navbar-collapse {
  margin-right: 3rem;
}
.navbar .navbar-collapse .navbar-nav li {
  padding-right: 1.5rem;
}
.navbar .navbar-collapse .navbar-nav li .nav-link {
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.navbar .navbar-collapse .navbar-nav li .nav-link:hover {
  background-color: white;
  color: gray;
  font-weight: bolder;
}
.home {
  background-color: rgba(133, 125, 125, 0.185);
}
.home .carousel .carousel-inner .carousel-item img {
  height: 38.5rem;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-position-y: bottom;
}
.home .home-content {
  top: -11em;
  color: black;
  font-family: cursive;
}
.home .home-content h2 {
  font-weight: bolder;
}
.home .home-content h2 span {
  font-size: 47px;
  color: white;
}
.home .home-content a {
  border: 2px solid white;
  color: white;
}

.about {
  font-family: sans-serif;
  background-color: rgba(133, 125, 125, 0.185);
}
.about h1 {
  font-size: 3rem;
  font-weight: bolder;
}
.about p {
  font-family: cursive;
  color: grey;
}
.about .about-content p ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about .about-content h5 {
  font-weight: bold;
}

.contact {
  background-color: rgba(133, 125, 125, 0.185);
}
.contact .contact-header {
  font-family: sans-serif;
}

.contact .contact-header h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #1d2981;
}
.contact .contact-header p {
  color: grey;
  font-family: cursive;
}
.contact .info {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact .info .contact-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact .info .contact-info h5 {
  color: #1d2981;
  font-weight: bolder;
}
.contact .info .contact-info i {
  color: #1d2981;
}
